* {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --primary-color: #ecf39e;
  --secondary-color: #90a955;
  --tertiary-color: #4f772d;
  --contrast-color: #31572c;
  --secondary-contrast-color: #132a13;
  --font-color: #252525;
  /* FONTS */
  --main-font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* MAIN */

body {
  background-color: var(--primary-color);
}

/* HEADER */

/* MAIN-SECTION */

/* SECOND-SECTION */

/* THIRD-SECTION */

/* FOOTER */
