/* IMPORTS */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --primary-color: #ecf39e;
  --secondary-color: #90a955;
  --tertiary-color: #4f772d;
  --contrast-color: #31572c;
  --secondary-contrast-color: #132a13;
  --font-color: #252525;
  /* FONTS */
  --heading-font: Playfair Display;
  --text-font: Lato;
}

/* MAIN */

body {
  background-color: var(--primary-color);
  color: var(--font-color);
  font-family: var(--text-font);
}

/* HEADER */

header {
  /* display: flex;
  flex-flow: row wrap; */
}

/* NAVBAR */

ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  gap: 5px;
  padding: 0;
}

/* MAIN-SECTION */

/* SECOND-SECTION */

/* THIRD-SECTION */

/* FOOTER */
